--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.3.1
--extra-index-url https://download.pytorch.org/whl/cu117
torchvision==0.18.1
segment-anything
opencv-python
pycocotools 
matplotlib 
onnxruntime 
onnx
gradio
pytoshop==1.1.0