--extra-index-url https://download.pytorch.org/whl/cu117
torch
--extra-index-url https://download.pytorch.org/whl/cu117
torchvision
segment-anything
opencv-python
pycocotools 
matplotlib 
onnxruntime 
onnx
gradio
pytoshop==1.2.0